
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetStarted</title>
</head>
<body>
    <div>
        <a asp-action="PlayersList">Get football players list</a> 
    </div>
    <div>
        <a asp-action="ClubsList">Get football clubs list</a> 
    </div>
</body>
</html>
