@using MyFootballProject.Data.Enum;
@using MyFootballProject.ViewModels
@model PlayerAddEditVM
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddEdit</title>
</head>
<body>
    <h1>Add the player</h1>
    <form method="post">
          <input type="hidden" asp-for="Id" /> 
        <div>
            <label>
                FirstName
                <input asp-for="FirstName" />
            </label>
        </div>
        <div>
            <label>
                LastName
                <input asp-for="LastName" />
            </label>
        </div>
        <div>
            <label>
                Date of birth
                <input type="date" asp-for="DOB" />
            </label>
        </div>
        <div>
            <label>
                National Team
                <input asp-for="NationalTeam" />
            </label>
        </div>
        <div>
            <label>
                Country
                <select asp-for="Country" asp-items="Html.GetEnumSelectList<Country>()">
                    <option>Select Country</option>
                </select>
            </label>
        </div>
        <div>
            <label>
                Position
                <select asp-for="Position" asp-items="Html.GetEnumSelectList<Position>()">
                    <option>Select Position</option>
                </select>
            </label>
        </div>
        <div>
            <label> Club </label>
            <select asp-for="ClubId">
                <option>Please select the club </option>
                @foreach (ClubDropDownVM item in ViewBag.Clubdropdown)
                {
                    <option value="item.Id">@item.Name</option>
                }
            </select>
        </div>
        
        <button type="submit"> Save </button>
    </form>
</body>
</html>
